<!DOCTYPE html>
<html  lang="en">
	<head>
    <meta charset="utf-8">
	</head>
	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<style type="text/css">
		table {
		    width: 48%;
		    max-width: 100%;
		    margin-bottom: 20px;
		    text-align: center;
		 }
	</style>
	
	<body>
	<div class="container">	
	<p>ancho: <%= session[:ancho] %></p>
	<p>alto: <%= session[:alto] %></p>

	<div>
		<div class="jumbotron">
  <div class="container">
    <h1>Batalla Naval</h1>
    
  </div>
</div>

		<% if session[:tablero].nil? %>
		<form class="form-inline" method="POST" action="crearTablero">
			<%= csrf_token_field %>
			 <div class="form-group">
			 	<div>
					<label for="exampleInputEmail3">Seleccione el tamaño del tablero</label>
				</div>
				<div>
					<label for="exampleInputEmail3">Ancho:</label>
					<input class="form-control" type="text" name="ancho" placeholder="Ancho"/>
					<label for="exampleInputEmail3">Alto:</label>
					<input type="text" name="alto" class="form-control" placeholder="Alto"/>
			 		<input class="btn btn-success" type="submit" value="enviar" id="crearTablero"/>
			 	</div>
			
			</div>
		</form>
		<% end %>
	</div>
	<br/>
		<% if !session[:tablero].nil? %>
		
			<form class="form-inline" method="POST" action="ponerBarco">
				<%= csrf_token_field %>
				 
					<div class="form-group">
						<label for="exampleInputEmail3"> Coloque su Barco</label>
					</div>
				 
				<div>
				  <label for="exampleInputEmail3">Nombre:</label>
					<input  class="form-control" type="text" name="nombreBarco" id="nombreBarco"/>
				  </div>
				  </br>
				
				<div>	
					<label for="exampleInputEmail3">Coordenadas: 
					<input type="text" name="coordenadas" id="coordenadas"/>
					<label for="exampleInputEmail3">Formato de coordenadas: '(x:y),(z:w)'</label><br/></br>
				</div>
				<div>
					<label for="exampleInputEmail3">Tamanio:</label>
					<input type="text" name="tamanio" id="tamanio"/>
					<input class="btn btn-success" type="submit" value="Enviar Coordenadas" id="crearBarco"/>
				</div>
				
			</form>
			<% end %>
	    
	<div>
	<br/>
    <div>
    	
    	<form class="form-inline" method="POST" action="posicionVacia">
			<%= csrf_token_field %>
			<label for="exampleInputEmail3">Consulta de coordenadas</label>
			<input type="text" name="coord" id="coord" placeholder="Coordenadas"/>
    		<input class="btn btn-success" type="submit" value="Enviar Coordenadas" id="pregunta" placeholder="Coordenadas"/>
    	</form>
    		<label for="exampleInputEmail3"><%= @respuesta%></label> 
    </div>
    <br/><br/>
    <div>
    	<form class="form-inline" method="POST" action="dispararEn">
			<%= csrf_token_field %>
			<label for="exampleInputEmail3">Disparar en coordenadas:</label>
			<input  class="form-control" type="text" name="coordDisparo" id="coordDisparo"/>
    		<input  class="btn btn-danger" type="submit" value="Disparar" id="disparo"/>
    </div>
	</br>

	<div align="center">
		<% if !session[:tablero].nil? %>
		<table border="1"  class="table table-striped">
			
			<% for i in 1..session[:alto].to_i %>
			<tr>
				<% for j in 1..session[:ancho].to_i %>
				<td>
					<label label for="exampleInputEmail3"><%= session[:tablero].mapa[i-1][j-1] %></label>
				</td>
				<% end %>
			</tr>
			<% end %>
		<% end %>
		</table>
	<div>

	<br/>
	<div align="left">
		<% if !session[:errores].nil? %>
			<label label for="exampleInputEmail3" > Errores </label>
			<ul>
			<% session[:errores].split(",").each do |a| %>
            <li><%= a %></li>
            </ul>
            <% end %>
        <%end %>
	</div>
	<div align="left">
		<% if !session[:informe].nil? %>
			<label label for="exampleInputEmail3"> Informe:<%= session[:informe] %></label>
		<% end %>
	</div>
	</div>
	</body>
</html>